.autoshowroom-title h2.AutoshowroomTitle {
    font-size: 22px;
    color: #222222;
    text-align: center;
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}

    .autoshowroom-title h2.AutoshowroomTitle:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        width: 60px;
        height: 4px;
        border-top: 1px solid #ff5400;
        border-bottom: 1px solid #ff5400;
        margin-left: -30px;
    }

.autoshowroom-title p {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.compare-title {
    font-size: 22px;
    color: #ff6d30;
    padding-bottom: 10px;
a img {
    border: none;
}
img {
    vertical-align: middle;
}
.car-detail-f-label {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}


.car-detail-f-value {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}



















