

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.car-detail-title {
    color: #f96830;
    font-size: 30px;
    padding-top: 20px;
}

.car-detail-owner {
    color: #7c7c7c;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}
.car-detail-seemore {
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
    color: #949494;
    text-transform: none;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}




.addthis-animated {
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: .3s;
}

<style>…</style>
.at4-show {
    display: block!important;
    opacity: 1!important;
}
<style>…</style>
.addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
    padding: 0;
    margin: 0;
}
<style>…</style>
.at-resp-share-element {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}


.at4-visually-hidden {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    padding: 0;
    border: 0;
    overflow: hidden;
}

.page-content h1, h3, p, span {
    color: #7c7d7f;
}


element.style {
    background-color: rgb(59, 89, 152);
    border-radius: 0px;
}

<style>…</style>
.at-style-responsive .at-share-btn {
    padding: 5px;
}

.at-style-responsive .at-share-btn {
    padding: 5px;
}

<style>…</style>
.at-resp-share-element .at-share-btn {
    display: inline-block;
    margin: 0 2px 5px;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    background-color: transparent;
}

element.style {
    line-height: 20px;
    height: 20px;
    width: 20px;
}

<style>…</style>
.at-resp-share-element .at-share-btn .at-icon-wrapper {
    float: left;
}
<style>…</style>
a .at-icon-wrapper {
    cursor: pointer;
}
<style>…</style>
.at-icon-wrapper {
    display: inline-block;
    overflow: hidden;
}


.at-resp-share-element .at-icon, .at-resp-share-element .at-label {
    cursor: pointer;
}

svg:not(:root) {
    overflow: hidden;
    pointer-events: none;
}
.at-style-responsive .at-share-btn {
    padding: 5px;
}
.at-resp-share-element .at-share-btn {
    display: inline-block;
    margin: 0 2px 5px;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    background-color: transparent;
}

.at-icon-wrapper {
    display: inline-block;
    overflow: hidden;
}
[role=button] {
    cursor: pointer;
}

.car-detail-stockno tr, .car-detail-stockno tr td {
    border: 2px solid #a7a7a7;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

@media (min-width: 768px)
.col-sm-12 {
    width: 100%;
}

@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.container {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}


section {
    background-color: #f5f5f5;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}





.btn-primary {
    background-color: #f96830 !important;
    border-color: #f96830 !important;
    color: white;
}
.btn {
    border-radius: 0 !important;
    outline: none !important;
}
.pull-right {
    float: right!important;
}

div {
    display: block;
}

.car-detail-header {
    color: #f96830;
}
.car-detail-f-label {
    font-size: 20px;
    font-weight: 600;
    color: #7c7c7c;
    text-transform: uppercase;
}

.col-xs-6 {
    width: 50%;
}
.car-detail-f-value {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333333%;
}

ol, ul, li {
    list-style: none;
    margin: 0;
}
.pull-left {
    float: left!important;
}

.key-feature-list li label {
    font-size: 20px;
    line-height: 30px;
}

.product-detail-keyfeature {
    padding-right: 6px;
    color: #f96830;
}
.text-uppercase {
    text-transform: uppercase;
}

strong {
    font-weight: bold;
}

.car-detail-panel {
    border-radius: 2px !important;
}

.car-detail-pricing-heading {
    min-height: 100px;
    background-color: white !important;
    padding-top: 20px;
}
.car-detail-pricing-year {
    font-size: 20px;
    font-weight: 400;
    color: #7c7c7c;
}
.car-detail-pricing-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.car-detail-pricing-mileage {
    font-size: 16px !important;
    font-weight: 400;
    color: #7c7c7c;
    margin-top: 10px;
    line-height: 40px;
}

.panel-body {
    padding: 18px 30px;
}
.car-detail-pricing-price {
    font-size: 26px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}
.car-detail-pricing-price-value {
    font-size: 26px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}
.car-detail-pricing-shipping {
    font-size: 18px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}

.car-detail-pricing-shipping-value {
    font-size: 18px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}
.car-detail-pricing-total {
    font-size: 18px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}
.car-detail-pricing-total-value {
    font-size: 22px;
    font-weight: 400;
    color: #7c7c7c;
    line-height: 60px;
}

.car-detail-available p {
    font-weight: 400;
    margin-bottom: 0;
}

.car-detail-help h3 {
    color: #4d6594;
    text-align: center;
}


.car-detail-help-table td {
    border: none;
}

.car-detail-help-table i {
    color: #f96830;
}

table {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    background-color: transparent;
}



.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px)
.col-sm-8 {
    width: 66.66666667%;
}
.car-detail-stockno {
    width: 185px;
    font-weight: 700;
}


.at-resp-share-element:after, .at-resp-share-element:before {
    content: " ";
    display: table;
}


*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}


.h3, h3 {
    font-size: 24px;
}

.car-detail-available h3 {
    color: #4d6594;
    text-align: center;
}
body p {
    line-height: 25px;
    margin-bottom: 25px;
}


body h1, body h2, body h3, body h4, body h5, body h6, body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
}




.panel-heading {
    /*background-color: #f96830*/ !important;
    border-color: #f96830 !important;
    border-radius: 0 !important;
}













